body {
    margin: 0em;
    background-color: #546E7A;
    color: white;
    font-family: Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  
  a, a:visited {
    color: white;
  }
  
  h1 {
    text-align: center;
  }

  img {
    width: 6em;
    margin: 1em auto;
  }
  
  .hidden {
    display: none !important;
  }
  
  #installContainer {
    position: absolute;
    bottom: 1em;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .form-wrap {
    width: 100%;
    max-width: 26em;
  }

  .form {
    width: 92%;
    margin: 0em auto;
  }

  input,
  select {
    margin: 0.8em auto;
    width: 100%;
  }

  input[type="button"] {
    width: 10em;
    margin: 1em auto;
  }
